@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 140 25% 97%;
    --foreground: 135 30% 15%;
    --card: 140 25% 100%;
    --card-foreground: 135 30% 15%;
    --popover: 140 25% 100%;
    --popover-foreground: 135 30% 15%;
    --primary: 142 70% 40%;
    --primary-foreground: 142 70% 98%;
    --secondary: 140 20% 90%;
    --secondary-foreground: 135 30% 9%;
    --muted: 140 20% 90%;
    --muted-foreground: 135 17% 45%;
    --accent: 45 90% 60%;
    --accent-foreground: 45 90% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 88%;
    --input: 140 20% 94%;
    --ring: 142 70% 40%;
    --chart-1: 142 70% 40%;
    --chart-2: 0 70% 60%;
    --chart-3: 142 40% 50%;
    --chart-4: 45 78% 68%;
    --chart-5: 142 30% 70%;
    --radius: 0.75rem;
    --sidebar-background: 142 60% 20%;
    --sidebar-foreground: 142 60% 85%;
    --sidebar-primary: 142 60% 98%;
    --sidebar-primary-foreground: 142 60% 15%;
    --sidebar-accent: 142 70% 40%;
    --sidebar-accent-foreground: 142 60% 98%;
    --sidebar-border: 142 60% 25%;
    --sidebar-ring: 142 60% 98%;
  }
  .dark {
    --background: 135 10% 5%;
    --foreground: 135 10% 95%;
    --card: 135 10% 10%;
    --card-foreground: 135 10% 95%;
    --popover: 135 10% 5%;
    --popover-foreground: 135 10% 95%;
    --primary: 142 60% 60%;
    --primary-foreground: 142 60% 10%;
    --secondary: 135 10% 15%;
    --secondary-foreground: 135 10% 95%;
    --muted: 135 10% 15%;
    --muted-foreground: 135 10% 65%;
    --accent: 45 80% 70%;
    --accent-foreground: 45 80% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 10% 15%;
    --input: 135 10% 15%;
    --ring: 142 60% 60%;
    --chart-1: 142 60% 60%;
    --chart-2: 0 60% 50%;
    --chart-3: 142 40% 50%;
    --chart-4: 45 68% 58%;
    --chart-5: 142 30% 70%;
    --sidebar-background: 135 10% 10%;
    --sidebar-foreground: 135 10% 85%;
    --sidebar-primary: 135 30% 90%;
    --sidebar-primary-foreground: 135 30% 10%;
    --sidebar-accent: 135 30% 20%;
    --sidebar-accent-foreground: 135 30% 95%;
    --sidebar-border: 135 10% 15%;
    --sidebar-ring: 135 30% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
