@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer base {
  :root {
    --background: 137 17% 95%; /* #F0F5F1 */
    --foreground: 135 30% 15%;
    --card: 137 17% 100%;
    --card-foreground: 135 30% 15%;
    --popover: 137 17% 100%;
    --popover-foreground: 135 30% 15%;
    --primary: 135 30% 31%; /* #386641 */
    --primary-foreground: 135 30% 98%;
    --secondary: 137 17% 90%;
    --secondary-foreground: 135 30% 9%;
    --muted: 137 17% 90%;
    --muted-foreground: 135 17% 45%;
    --accent: 31 27% 52%; /* #A68A64 */
    --accent-foreground: 31 27% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 137 17% 85%;
    --input: 137 17% 92%;
    --ring: 135 30% 31%;
    --chart-1: 135 30% 31%;
    --chart-2: 31 27% 52%;
    --chart-3: 135 20% 51%;
    --chart-4: 31 17% 62%;
    --chart-5: 135 10% 71%;
    --radius: 0.5rem;
    --sidebar-background: 135 30% 25%;
    --sidebar-foreground: 135 30% 85%;
    --sidebar-primary: 135 30% 98%;
    --sidebar-primary-foreground: 135 30% 15%;
    --sidebar-accent: 135 30% 31%;
    --sidebar-accent-foreground: 135 30% 98%;
    --sidebar-border: 135 30% 28%;
    --sidebar-ring: 135 30% 98%;
  }
  .dark {
    --background: 135 10% 5%;
    --foreground: 135 10% 95%;
    --card: 135 10% 10%;
    --card-foreground: 135 10% 95%;
    --popover: 135 10% 5%;
    --popover-foreground: 135 10% 95%;
    --primary: 135 30% 71%;
    --primary-foreground: 135 30% 10%;
    --secondary: 135 10% 15%;
    --secondary-foreground: 135 10% 95%;
    --muted: 135 10% 15%;
    --muted-foreground: 135 10% 65%;
    --accent: 31 27% 52%;
    --accent-foreground: 31 27% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 135 10% 15%;
    --input: 135 10% 15%;
    --ring: 135 30% 71%;
    --chart-1: 135 30% 71%;
    --chart-2: 31 27% 52%;
    --chart-3: 135 20% 51%;
    --chart-4: 31 17% 62%;
    --chart-5: 135 10% 71%;
    --sidebar-background: 135 10% 10%;
    --sidebar-foreground: 135 10% 85%;
    --sidebar-primary: 135 30% 90%;
    --sidebar-primary-foreground: 135 30% 10%;
    --sidebar-accent: 135 30% 20%;
    --sidebar-accent-foreground: 135 30% 95%;
    --sidebar-border: 135 10% 15%;
    --sidebar-ring: 135 30% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
